:root {
  --primary-color: purple;
  --secondary-color: #fff;
  --text-color: #333;
  --primary-background: rgb(224, 188, 223);
  --secondary-background: rgb(220, 153, 220);
  --item-background: #f4f4f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: var(--text-color);
}

header {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 1rem;
  text-align: center;
}

.primary-background {
  background-color: var(--primary-background);
}

.secondary-background {
  background-color: var(--secondary-background);
}

section {
  padding: 2rem;
  text-align: center;
}

#gallery {
  overflow: hidden;
}

.gallery-container {
  width: 100%;
  overflow-x: auto;
}

.gallery {
  display: flex;
  width: max-content;
}

.gallery img {
  max-width: 100%;
  height: auto;
  margin-right: 1rem;
  padding: 10px;
}

.formattedItem {
  background-color: var(--item-background);
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 5px;
}

#contact form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 500px;
  margin: 0 auto;
}

#contact form label {
  text-align: left;
}

#contact form input,
#contact form textarea {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#contact form button {
  padding: 0.5rem;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#contact form button:hover {
  background-color: #ff1493;
}

#contact h2 {
  margin-bottom: 1rem;
}

footer {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 1rem;
  text-align: center;
}

@media (max-width: 768px) {
  .gallery img {
      width: 100%;
      margin-right: 0;
      margin-bottom: 1rem;
  }
}
